---
name: CI
on:
  pull_request:
  push:
    branches:
      - main

jobs:

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:

      - name: Checkout the codebase
        uses: actions/checkout@v3

      - name: Setup Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install molecule 'molecule-plugins[docker]' yamllint ansible-lint

      - name: Lint code.
        run: |
          set -e
          yamllint .
          ansible-lint

  molecule:
    name: Molecule
    runs-on: ubuntu-latest
    # See https://docs.github.com/en/actions/using-jobs/using-a-matrix-for-your-jobs#using-a-matrix-strategy
    strategy:
      matrix:
        distro: [rockylinux8, rockylinux9, ubuntu2004, ubuntu2204]
        scenario: [default]
        include:
          - playbook: converge.yml

    steps:
      - name: Checkout the codebase
        uses: actions/checkout@v3

      - name: Setup Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.x'

      - name: Install test dependencies.
        run: pip3 install ansible molecule 'molecule-plugins[docker]' docker

      - name: Run Molecule tests.
        run: molecule test -s ${{ matrix.scenario }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          MOLECULE_DISTRO: ${{ matrix.distro }}
          MOLECULE_PLAYBOOK: ${{ matrix.playbook }}
